@media screen and (max-width:320) {
    .banner{
        width: 100%;
        background-image: url(../assets/img/2banner.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}